<main>
  <nav class="main-nav">

    <ul class="nav">
      <li class="nav-item logo">
        <a class="nav-link" routerLink="/"><img src="./assets/images/logo.svg" alt="logo" /></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/terrains" placement="right" ngbTooltip="Terrains"><i
            class="flaticon-layers" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/codelists" placement="right" ngbTooltip="Code Lists"><i
            class="flaticon-cogwheel-1" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/datatypes" placement="right" ngbTooltip="Data Types"><i
            class="flaticon-app" aria-hidden="true"></i></a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>
