:host {
  flex-grow: 1;


  .la-trash {
    font-size: 24px;
    color: rgb(192, 192, 192);
    vertical-align: middle;

    &:hover {
      color: red;
    }
  }

  .swal2-styled.swal2-confirm {
    border-radius: 32px;
  }

}
