<div class="container-fluid">
  <div class="row justify-content-center align-content-center h-100">

    <div class="col-md-6 px-5 pb-5 ">
      <h2 class="title pt-5 pb-3" id="modal-basic-title">Create New Terrain!</h2>

      <form #f='ngForm' (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="name" class="font-weight-bold"><i class="la la-asterisk customAlert"></i> Name:</label>
          <input #name="ngModel" required minlength="3" type="text" class="form-control" name="name" id="name"
            [(ngModel)]="originalProject.name" placeholder="Name" [class.field-error]="f.submitted && name.invalid">
          <div [hidden]="name.valid || !f.submitted" class="customAlert py-1">
            Name is required!
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="font-weight-bold">Description: <span
              class="text-muted font-weight-lighter">(optional)</span></label>
          <textarea name="description" placeholder="(optional)" class="form-control pl-3 pt-3" id="description"
            [(ngModel)]="originalProject.description"></textarea>
        </div>
        <div class="text-right px-0 pt-3">
          <button type="button" class="btn btn-light mr-2" routerLink="/terrains">Cancel</button>
          <button type="submit" class="btn btn-outline-info">Save</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 vh-100 pr-0">
      <div id="map" class="h-100"></div>
    </div>
  </div>

</div>
